// Set Backgroud Color
$body-background-color: #151515;

// Set Font Family and sizes
$family-sans-serif: "Oswald", sans-serif;
$size-7: 0.8125rem;

// Make Links White
$link: $white;

// Footer Stuff
$footer-background-color: #111111;
$footer-color: $white;
$footer-padding: 2.0625rem 1.5rem 2.0625rem;
