// * Custom Variables
$bg-color-primary: #151515;
$bg-color-second: #111111;

// Set Backgroud Color
$body-background-color: $bg-color-primary;

// Set Font Family and sizes
$family-sans-serif: "Oswald", sans-serif;
$size-7: 0.8125rem;

// Make Links White
$link: $white;

// Navbar stuff
$navbar-background-color: $bg-color-primary;

// Footer stuff
$footer-background-color: $bg-color-second;
$footer-color: $white;
$footer-padding: 2.0625rem 1.5rem 2.0625rem;
