@charset "utf-8";

// Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Import Space Mono Font
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

//Import Custom Sass
@import "_custom.scss";
@import "_hamburger.scss";
@import "_nav.scss";

section {
  padding: 6.25rem 0rem 6.25rem 0rem;
}

#home {
  margin-top: 3.25rem;
}

// Content
.content-heading {
  line-height: 1;
}

.heading-bar {
  height: 0.3125rem;
  width: 3rem;
  float: left;
  background-color: $primary;
  margin-top: 1.5rem;
  margin-right: 2rem;
}

//  Import the rest of Bulma
@import "../node_modules/bulma/bulma";
