@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	  .heading-bar {
			height: 0.3125rem;
			float: left;
			background-color: #E06C75;
		}
	}

h1 {
    font-size: 3rem;
}

h1::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #E06C75;
    width: 3rem;
    margin-right: 1rem;
    transform: translateY(-1rem);
	opacity:0;
}

h1:hover:before {
	opacity:1;
}

#nav-icon3 {
  width: 1.125rem;
  height: 0.625rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 0.1rem;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0rem;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 0.3125rem;
}

#nav-icon3.open span:nth-child(1) {
  top: 0.625rem;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.nav-container {
	display: none;
	line-height: 1;
	position: fixed;
	z-index: 1;
	width:100%;
	height:100%;
}

.gif {
	background: url("/assets/images/waves_bw.gif");
	background-size: cover;
	background-color: #151515;

}
html { /* body won't work ø\_(?)_/ø */
  scroll-snap-type: y mandatory;
}

#home {
scroll-snap-align: start;
}

#work {
scroll-snap-align: start;
}

